<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>531715163415-dptqfkvt3a8rqj72q51pde5nmskms1su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531715163415-dptqfkvt3a8rqj72q51pde5nmskms1su</string>
	<key>API_KEY</key>
	<string>AIzaSyAYYZdRZU_gp-EDOqDbBEr7RBWeJjEXf8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>531715163415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Uni-clem.MathAssistant</string>
	<key>PROJECT_ID</key>
	<string>mathassistant-bdcb4</string>
	<key>STORAGE_BUCKET</key>
	<string>mathassistant-bdcb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:531715163415:ios:7c6e2db6df296a59</string>
	<key>DATABASE_URL</key>
	<string>https://mathassistant-bdcb4.firebaseio.com</string>
</dict>
</plist>